/* INDEX OF STYLESHEET */
/* 1. GENERAL */
/* 2. FRONT PAGE */
/* 3. ARTIST PAGE */
/* 4. FESTIVAL PAGE */

/* 1. GENERAL */
body {
  background: #FFD96F;
  color: #4DAEA1;
  /* overflow: hidden; */
}

/* 2. FRONT PAGE */

#logo {
  margin-top: 20%;
  font-family: 'Lato', sans-serif;
  color: #4DAEA1;
  font-size: 70px;
  text-align: center;
}
#subtext {
  text-align: center;
  margin-bottom: 4rem;
}

form {
  margin-bottom: 0rem;
}
/* Search form */
input[type="text"] {
  width: 300px;
}

/* Search button */
button{
  transition: 0.6s;
}
button:hover {
  background-color: #4DAEA1;
}

#subsubtext {
  text-align: center;
  margin: 0;
}
.festival, .artist {
  margin: 5px;
  border: 2px solid white;
}

.festivalswrapper {
  background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
  width: 100%;
  height: 100%;
  margin-top: 160px;
}

.popularfestivals {
  padding-top: 2rem;
  padding-left: 17rem;
  padding-bottom: 13rem;
}
.popularfestivals img {
  padding-left: 60px;
}
#oversigtoverskrift {
  padding-top: 2rem;
  text-align: center;
  font-weight: bold;
}
