{% extends "layout.html" %}
{% block content %}

<div class="wrapper404">
    <div class="container">
        <div class="row">
            <div class="one-half column">
                <img src="../static/img/404.jpg" class="u-max-full-width">
            </div>
            <div class="one-half column">
                <h2 id="woops"><b>Woops!<b></h2>
                    <h4> Looks like our developer is asleep at the keyboard</h4>
                    <p> Try going back to the homepage, then we'll try to get things rolling again!</p>
            </div>
        </div>
    </div>
</div>


<style>

    .wrapper404 {
        width: 100%;
        height: 100%;
        background-color:#EEB274 ;
    }
    #woops {
        color: red;
    }

    h4 {
        color: white;

    }
    p {
        color: white;
    }
</style>

<a href="{{ url_for('home') }}"> Tilbage til forsiden </a>

{% endblock content %}
