{% extends "layout.html" %}
{% block content %}

<div class="404wrapper">
    <div class="container">
        <div class="row">
            <div class="one-half column">
                <img src="../static/img/404.jpg">
            </div>
            <div class="one-half column">
                <h2 id="woops"><b>Woops!<b></h2>
                    <h4> Looks like our developer is asleep at the keyboard</h4>
                    <p> Try going back to the homepage, then we'll try to get things rolling again!</p>
            </div>
        </div>
    </div>
</div>


{% endblock content %}
