{% extends "layout.html" %}
{% block content %}
<center><h2> Oversigter over kunstnere </h2></center>
<div class="container">
    {% for artist in artists %}
<div class="artist">
      <p>{{ artist.name }}</p>
      <p><img src="{{ artist.image }}" width="250px"></p>
      <p>{{ artist.country }} </p>
      <p>{{ artist.genre }}</p>
      <p>{{ artist.toptracks }}</p>
      <p>{{ artist.festival }}</p>
</div>
    {% endfor %}

    <a href="home"> Tilbage til forsiden </a>
</div>
{% endblock content %}
