{% extends "layout.html" %}
{% block content %}
<center>
  <br>
  <br>
  <br>
  

<div class="container">

{% for info in artist_data %}

<!-- Name -->
<h2><b> {% print(info[1]) %} </b></h2>

<!-- Image -->
<img src="{% print(info[3]) %}" width="300px" height="300px">
<br>
<!-- Spotify URI (needs formating) -->
<iframe src="{% print(info[2]) %}" width="300" height="400" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
<br>

<!-- Festival -->
<p> <b>Spiller på: </b></p>
<p>{% print(info[4]) %}</p>
<br>
<br>
{% endfor %}

    <a href="{{ url_for('home') }}"> Tilbage til forsiden </a>
</div>
<center>
{% endblock content %}
