{% extends "layout.html" %}
{% block content %}


<!-- Festival data: Automated in future version-->
<div class="container">
<br>
<br>
  <center>
    <img src="../static/img/roskilde.png">
    <br>
    <br>
    <p><b> 7-9 August 2020</b></p>
    <p style="font-size: 20px;">Smukfest, også kendt som Skanderborg Festival eller Danmarks Smukkeste Festival, er en dansk musikfestival som
      afholdes hver sommer i anden weekend af august i Skanderborg under temaet "Musik & Bøgetræer".

      Musikken og diverse happenings foregår under bøgetræer og ved nærliggende søer og deraf navnet "Danmarks Smukkeste
      Festival." Festivalen har de senere år ofte haft udsolgt.

      Smukfest fokuserer fortrinvis på dansk musik med både kommende talenter/grupper samt gamle kendinge, men har altid
      et par store udenlandske navne på plakaten.

      Festivalens maskot er FestiWalther, der er en musikglad skovtrold født 5. juli 1579 i Skanderborgs bøgeskove, og
      ideen til den første festval blev skabt den 5. juli 1979 – på Walthers 400 års fødselsdag.</p>
    <a href="{{ url_for('home') }}" class="button">TILBAGE TIL FORSIDEN</a>
    <a href="https://smukshop.dk/" class="button">KØB BILLET</a>
    <br><br><br>
    </center>
</div>


<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<style>
  html, body {
    background-color:#006E5F;
    color: #fb9d46;
  }
  .button {
    color: #fb9d46;
    background-color: #2d3436;
  }
  .three.columns.artists {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    display: inline-block;
    border-radius: 5px;
    height: 400px;
    width: 300px;
    margin: 5px;
    background-color: #2d3436;
    color: #dfe6e9;
  }
  
  .three.columns.artists:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    color:#2d3436;
    background-color:#dfe6e9;
  }
  
  img {
    border-radius: 5px 5px 0 0;
  }
  
  .textbox {
    padding: 1px 8px;
    min-height: 10px;
  }

.u-max-full-width {
  width: 300px;
  height: 300px;
}
  
#artistName {
  font-size: 20px;
  font-weight: bold;

}


/* Modal Styling */
.w3-modal-content {
  width: 332px;
}
.w3-container {
  background-color: orange;
}
#modalimg {
  display:inherit;
}

#modalName {
  color:black;
}
</style>


<!-- Artist grid -->
  {% for data in festival_data %}
  <div class="artistwrapper {{ data.name }}" onclick="document.getElementById('{{data.name}}').style.display='block'" class="w3-button w3-black"> 
    <div class="three columns artists" onclick="document.getElementById('{{data.name}}').style.display='block'" class="w3-button w3-black">
      <img class="u-max-full-width" src="{% print(data.img) %}" width="200px" height="200px" onclick="document.getElementById('{{data.name}}').style.display='block'" class="w3-button w3-black">
      <div class="textbox">
       <p id="artistName">{% print(data.name) %}</p>
      </div>
    </div>
  </div>

  <!-- Modal -->
  <div id="{{data.name}}" class="w3-modal">
    <div class="w3-modal-content">
      <div class="w3-container">
        <span onclick="document.getElementById('{{data.name}}').style.display='none'" style="color:black" class="w3-button w3-display-topright">&times;</span>
        <center><p id="modalName">{% print(data.name) %}</p></center>
        <img src="{% print(data.img) %}" width="300px" height="300px" id="modalimg">
        {% if data.uri != "None": %}
      <iframe src="{% print(data.uri.replace("/artist/", "/embed/artist/")) %}" width="300" height="400" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
    {% else: %}
      {% print('Kunne ikke finde musik fra denne kunstner på spotify') %}
      {% print('Kontakt os hvis der er sket en fejl') %}
    {% endif %}
      </div>
    </div>
  </div>
  {% endfor %}



{% endblock content %}