{% extends "layout.html" %}
{% block content %}

<!-- center content within the middle -->
<div class="container">

<!-- Logo + appetizer -->
<h1 id="logo"> Festivalg </h1>
<center><h2 id="subtext"> Find solbrillerne og shortsne frem, vi skal på festival! </h2></center>

<!-- Search form -->
<center>
  <form autocomplete="off" action="/action_page.php">
    <div class="autocomplete">
     <input id="myInput" type="text" placeholder="Søg efter festival eller kunstner.." name="search">
     <button type="submit"><i class="fa fa-search"></i></button>
   </form>
</center>

<!-- Autocompletes form text to artist names  -->
<script src="static/autocomplete.js"></script>
<script type="">
// Actual storage of artists (roskildeartists (python pulls from db to python JSON, to javascript))
var artists = {{ roskildeartists|safe }};
/*Function that executes autocomplete feature */
autocomplete(document.getElementById("myInput"), artists);
</script>

<br><br>

<!-- more explaining text of function -->
<center><p id="subsubtext"> Se hvilke kunstnere der kommer til festivaller, samt. undersøg mere om dem </p></center>

<br><br>

</div> <!-- Container wrapper end -->

<!-- Popular festivals section -->
<center>
<div class="festivalswrapper">
  <h2 id="oversigtoverskrift"> Populære festivaller </h2>
  <div class="popularfestivals">
    <img src="/static/img/roskilde.png" height="auto" width="100px">
    <img src="/static/img/northside.png" height="auto" width="200px">
    <img src="/static/img/tinderbox.png" height="auto" width="250px">
    <img src="/static/img/smukfest.png" height="auto" width="100px">
    <img src="/static/img/skive.png" height="auto" width="100px">
    <img src="/static/img/groen.png" height="auto" width="100px">
    <img src="/static/img/distortion.png" height="auto" width="100px">
    <img src="/static/img/spot.png" height="auto" width="100px">
  </div>
</div>
</center>

{% endblock content %}
