{% extends "layout.html" %}
{% block content %}

<!-- Center content within the middle -->
<div class="container">

<!-- Logo + appetizer -->
<h1 id="logo"> Festivalg </h1>
<center><h2 id="subtext"> Find solbrillerne og shortsne frem, vi skal på festival! </h2></center>

<!-- Search form -->
<center>
  <form autocomplete="off" action="/artist" method="post">
    <div class="autocomplete">
     <input id="myInput" type="text" placeholder="Søg efter festival eller kunstner.." name="search">
     <button type="submit" id="myBtn"><i class="fa fa-search"></i></button>
   </form>
</center>

<!-- Import autocomplete js code  -->
<script src="static/js/autocomplete.js"></script>

<!-- load artist data from sql + executes js code -->
<script>
var artists = {{ roskildeartists|safe }}; // Actual storage of artists (roskildeartists (python pulls from db to python JSON, to javascript))
autocomplete(document.getElementById("myInput"), artists); /*Function that executes autocomplete feature */
</script>

<!-- Trigger search form on enter key -->
<script>
var input = document.getElementById("myInput");
input.addEventListener("keyup", function(event) {
  if (event.keyCode === 13) {
    event.preventDefault();
    document.getElementById("myBtn").click();
  }
});
</script>

<br>

<center><p id="subsubtext"> Se hvilke kunstnere der kommer til festivaller, samt. undersøg mere om dem </p></center>

<br><br>

</div>

<!-- Popular festivals section -->
<center>
<div class="festivalswrapper">
  <h2 id="oversigtoverskrift"> Populære festivaller </h2>
  <div class="popularfestivals">
    <img src="/static/img/roskilde.png" height="auto" width="100px">
    <img src="/static/img/northside.png" height="auto" width="200px">
    <img src="/static/img/tinderbox.png" height="auto" width="250px">
    <img src="/static/img/smukfest.png" height="auto" width="100px">
    <img src="/static/img/skive.png" height="auto" width="100px">
    <img src="/static/img/groen.png" height="auto" width="100px">
    <img src="/static/img/Distortion.png" height="auto" width="100px">
    <img src="/static/img/spot.png" height="auto" width="100px">
  </div>
</div>
</center>

{% endblock content %}
